{% extends "base.html.twig" %}
{% block content %}
  {% for message in app.flashes('success') %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
  {% endfor %}
  {% for message in app.flashes('error') %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
  {% endfor %}
  <nav class="navbar navbar-light bg-light">
    <a href="{{ path('to_do_list_create') }}" class="btn btn-outline-success" type="button">Add a new item</a>
  </nav>
  {% if list.items is empty %}
    <div class="alert alert-info" role="alert">
    There are no items in your to-do list.
    </div>
  {% else %}
    <div class="list-group">
    {% for item in list.items %}
      <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">#{{ item.id }}</h5>
          <small class="text-muted">Due: {{ item.dueDate|date('Y-m-d H:i:s') }}</small>
        </div>
        <p class="mb-1">{{ item.description }}</p>
        <a href="{{ path('to_do_list_update', { 'id': item.id}) }}" class="card-link">Edit</a>
        <a href="{{ path('to_do_list_delete', { 'id': item.id}) }}" class="card-link">Delete</a>
      </div>
    {% endfor %}
    </div>
    <br>
    <nav aria-label="...">
      <ul class="pagination pagination-lg">
        {% if list.page == 1 %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="{{ path('to_do_list_index', { 'page': (list.page - 1)}) }}" tabindex="-1">Previous</a>
          </li>
        {% endif %}
        {% for page in calc_pagination_sequence(list.page, list.total, list.limit) %}
            {% if page %}
                <li class="page-item {% if (page == list.page) %} active {% else %} inactive {% endif %}">
                    <a class="page-link" href="{{ path('to_do_list_index', { 'page': page}) }}">{{ page }}</a>
                </li>
            {% else %}
                <li><a>&#8230;</a></li>
            {% endif %}
        {% endfor %}
        {% if list.page == (list.total / list.limit)|round(0, 'ceil') %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="{{ path('to_do_list_index', { 'page': (list.page + 1)}) }}">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{% endblock %}
