{% extends "base.html.twig" %}
{% block content %}
  <nav class="navbar navbar-light bg-light">
    <h2>Update a to-do list item</h2>
  </nav>
  <div id="form">
  {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
  {{ form_end(form) }}
  </div>
{% endblock %}
